.will-change-transform {
  will-change: transform, opacity;
}

.pattern-background-light {
    background-image: radial-gradient(circle at center, rgba(0,0,0,0.05) 1px, transparent 1px);
    background-size: 10px 10px;
}

.pattern-background-dark {
    background-image: radial-gradient(circle at center, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 10px 10px;
}
